<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/Sargazo_tulum_noticias.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Tulum,Quintana Roo</ion-card-subtitle>
      <ion-card-title>Playas de Tulum</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>
</ion-content>

